@font-face {
    font-family: "NTSomic";
    src: url("fonts/NTSomic-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: NTSomic;
    font-weight: normal;
}

.navbar,
footer {
    background-color: #9BA2AA;
}

.section1,
.section3 {
    background-color: #DCE5F1;
}

.section2,
.section4 {
    background-color: white;
}

.pagination .page-link:hover {
    cursor: pointer;
}